/*

	--color-acc: #89898c;
	--color-acc: #fa9f42; // or fbad60
	--color-acc: #3891a6;
	--color-acc: #db5461;

	--color-acc: #57737a;

	--color-txt: #212227;

	--color-acc: #d44d5c;
	--color-acc: #233c58;
	--color-acc: #7a151d;

	black & white
	--color-acc: var(--color-txt);
	--color-txt-acc: var(--color-bkg);
*/

* {
	margin: 0;
	padding: 0;

	border: 0;

	-webkit-box-sizing: border-box;
	-moz-ox-sizing: border-box;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}

:root {
	--color-bkg: #f0f0f0;
	--color-txt: #0f0f0f;

	--color-acc: #3891a6;
	--color-txt-acc: var(--color-txt);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", "Times New Roman", serif;
}
p, li {
	font-family: "Arial", "Verdana", sans-serif;
}

header, header *, footer, footer * {
	background-color: var(--color-acc);
	color: var(--color-txt-acc);
}
header *, footer * {
	border-color: var(--color-txt-acc);
}

body, main, main * {
	background-color: var(--color-bkg);
	color: var(--color-txt);
}
main * {
	border-color: var(--color-acc);
}
main a {
	color: var(--color-acc);
}
header::-moz-selection, header *::-moz-selection, footer::-moz-selection, footer *::-moz-selection {
	color: var(--color-acc);
	background: var(--color-txt);
}
header::selection, header *::selection, footer::selection, footer *::selection {
	color: var(--color-acc);
	background: var(--color-txt);
}
body::-moz-selection, main::-moz-selection, main *::-moz-selection {
	color: var(--color-bkg);
	background: var(--color-acc);
}
body::selection, main::selection, main *::selection {
	color: var(--color-bkg);
	background: var(--color-acc);
}

@media (max-width: 999px) {
	.mobile {
		display: default;
	}
	:root {
		--line-weight: 3px;
		--line-style: solid;
	}

	header, footer {
		padding: 20px;
	}
	header h1 {
		margin-bottom: 20px;

		border-bottom-width: var(--line-weight);
		border-style: var(--line-style);

		padding-left: 10px;
		
		font-size: 10vw;
	}
	header p {
		margin: 1% 5%;
	}
	
	main {
		margin: 20px;
	}

	h2, h3 {

		padding-left: 5px;
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 20px;

		border-bottom-width: var(--line-weight);
		border-style: var(--line-style);
	}
	h3 {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.section ul:not(#FamiliarLanguages) {
		border-left-width: var(--line-weight);
		border-style: var(--line-style);
		
		padding-left: 10px;
	}

	#FamiliarLanguages {
		margin-bottom: 10px;

		border-left-width: 0;
		
		overflow: hidden;
	}
	#FamiliarLanguages li {
		display: inline;

		padding: 5px 3%;

		text-align: center;
	}
	#FamiliarLanguages li:not(:last-child) {
		border-right-width: var(--line-weight);
		border-style: var(--line-style);
	}

	footer {
		text-align: center;
	}

	.conditional:not(.mobile) {
		display: none;
	}
}
@media (min-width: 1000px) {
	.desktop {
		display: default;
	}
	:root {
		--line-weight: 3px;
		--line-style: solid;

		--sidebar-width: 25%;
		--main-width: 75%;
	}

	body {
		background-color: var(--color-acc);
	}

	header, footer {
		width: var(--sidebar-width);
		float: left;
	}
	header {
		float: left;

		padding-top: var(--top-start);
	}
	main {
		float: right;

		width: var(--main-width);
		min-height: 100vw;
	}
	header, footer, main {
		padding: 20px 10px;
	}

	h1, h2 {
		border-bottom-width: var(--line-weight);
		border-style: var(--line-style);
	}

	h1 {
		font-size: 2.75vw;
	}
	h2 {
		font-size: 2vw;
	}
	h3 {
		font-size: 1.5vw;
	}
	h2, h3 {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	p, li {
		font-size: 1.25vw;
	}
	p {
		padding: 5px;
	}

	header img {
		width: 80%;
		margin-left: 10%;

		aspect-ratio: 1/1;
		object-fit: cover;
	}

	.section ul:not(#FamiliarLanguages) {
		border-left-width: var(--line-weight);
		border-style: var(--line-style);
		
		padding-left: 10px;
	}

	#FamiliarLanguages {

		width: fit-content;
		
		margin: 5px auto;

		border-top-width: var(--line-weight);
		border-bottom-width: var(--line-weight);
		border-style: var(--line-style);

		padding: 10px 5vw;

		overflow: hidden;
	}
	#FamiliarLanguages li {
		display: inline;

		padding: 0 1vw;

		text-align: center;
	}
	#FamiliarLanguages li:not(:last-child) {
		border-right-width: var(--line-weight);
		border-style: var(--line-style);
	}

	footer ul {
		text-align: center;
	}

	.conditional:not(.desktop) {
		display: none;
	}
}
