/*

	--color-acc: #89898c;
	--color-acc: #fa9f42; // or fbad60
	--color-acc: #3891a6;
	--color-acc: #db5461;

	--color-acc: #57737a;

	--color-txt: #212227;

	--color-acc: #d44d5c;
	--color-acc: #233c58;
	--color-acc: #7a151d;
*/

* {
	margin: 0;
	padding: 0;

	border: 0;

	-webkit-box-sizing: border-box;
	-moz-ox-sizing: border-box;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}

:root {
	--color-bkg: #f0f0f0;
	--color-txt: #0f0f0f;

	--color-acc: #3891a6;
	--color-txt-acc: var(--color-txt);

}

h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", "Times New Roman", serif;
}
p, li {
	font-family: "Arial", "Verdana", sans-serif;
}

header, header *, footer, footer * {
	background-color: var(--color-acc);
	color: var(--color-txt-acc);
}
header *, footer * {
	border-color: var(--color-txt-acc);
}

body, main, main * {
	background-color: var(--color-bkg);
	color: var(--color-txt);
}
main * {
	border-color: var(--color-acc);
}

@media (max-width: 999px) {
	.mobile {
		display: default;
	}
	:root {
		--line-weight: 3px;
		--line-style: solid;
	}

	header, footer {
		padding: 20px;
	}
	header h1 {
		margin-bottom: 20px;

		border-bottom-width: var(--line-weight);
		border-style: var(--line-style);

		padding-left: 10px;
		
		font-size: 10vw;
	}
	header p {
		margin: 1% 5%;
	}
	
	main {
		margin: 20px;
	}

	h2, h3 {

		padding-left: 5px;
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 20px;

		border-bottom-width: var(--line-weight);
		border-style: var(--line-style);
	}
	h3 {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.section ul:not(#FamiliarLanguages) {
		border-left-width: var(--line-weight);
		border-style: var(--line-style);
		
		padding-left: 10px;
	}

	#FamiliarLanguages {
		margin-bottom: 10px;

		border-left-width: 0;
		
		overflow: hidden;
	}
	#FamiliarLanguages li {
		display: inline;

		padding: 5px 3%;

		text-align: center;
	}
	#FamiliarLanguages li:not(:last-child) {
		border-right-width: var(--line-weight);
		border-style: var(--line-style);
	}

	footer {
		text-align: center;
	}

	.conditional:not(.mobile) {
		display: none;
	}
}
@media (min-width: 1000px) and (max-width: 3999px) {
	.desktop {
		display: default;
	}
	:root {
		--line-weight: 2px;
		--line-style: solid;

		--top-start: 10px;

		--sidebar-width: 25%;
		--main-width: 74%;
	}

	header, footer {
		position: absolute;
		left: 0px;
		width: var(--sidebar-width);

		padding: var(--top-start) 10px;
	}
	header {
		z-index: 1;
		top: 0px;
		height: 100%;

		padding-top: var(--top-start);
	}
	footer {
		z-index: 2;
		bottom: 0px;
	}
	main {
		position: absolute;
		left: var(--sidebar-width);

		width: var(--main-width);

		padding-left: 5px;

		padding-top: var(--top-start);

	}

	header img {
		width: 80%;
		margin-left: 10%;

		aspect-ratio: 1/1;
		object-fit: cover;
	}

	h1, h2, h3 {
		border-bottom-width: var(--line-weight);
		border-style: var(--line-style);
	}

	.conditional:not(.desktop) {
		display: none;
	}
}
